/*
    Author: Richard Pinegar | Rich Pin Software
    Date: January 2026
    Site Info: Digging for Shovels Official Website
    Content: CSS Layout Styles
*/

@import url("/css/variables.css");

main {
  margin: 0;
  padding: 0;
}

.site-section {
  scroll-margin-top: var(--header-height);
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: var(--section-padding);
}
.section-container {
  width: var(--section-container-width);
  height: auto;
  margin: var(--section-margin);
  padding: 0;
}
.site-section#links {
  background-color: var(--secondary-color);
}
.site-section#contact {
  background-color: var(--secondary-color);
}
.container {
  display: flex;
  gap: var(--flex-gap);
  width: 100%;
  height: auto;
  margin: var(--content-margin);
}