/*

  Author: Richard Pinegar | Rich Pin Software
  Date: February 2026
  Site Info: Digging for Shovels Official Website
  Content: CSS Stylesheet Imports - Mobile First

*/

@import url("/css/global/mf-global.css"); /* TODO: Rename to global.css */
@import url("/css/components/mf-header.css"); /* TODO: Rename to header.css */
@import url("/css/components/mf-layout.css"); /* TODO: Rename to layout.css */
@import url("/css/components/pages/mf-home.css"); /* TODO: Rename to home.css */
@import url("/css/components/pages/mf-links.css"); /* TODO: Rename to links.css */
@import url("/css/components/pages/mf-band.css"); /* TODO: Rename to band.css */
@import url("/css/components/pages/mf-contact.css"); /* TODO: Rename to contact.css */
@import url("/css/components/mf-footer.css"); /* TODO: Rename to footer.css */