/*
* Copyright: (c)2026 Digging for Shovels
*
* Author: Richard Pinegar | Rich Pin Software
* Date: March 2026
* Site Info: Digging for Shovels Official Band Website
* Content: Main Stylesheet for Digging for Shovels
* Version: 3.0
*/

/* 1.0 - Global Definitions */

:root {
  --color-primary: rgb(2, 195, 217);
  --color-secondary: rgb(151, 200, 235);
  --color-alt: rgb(100, 233, 238);
  --color-alt-light: rgba(100, 233, 238, 0.5);
  --color-light: rgb(255, 255, 255);
  --color-shade: rgba(60, 60, 60, 0.8);
  --color-dark: rgb(0, 0, 0);
  --header-height: clamp(5.0rem, 10vw + 1.0rem, 10.0rem);
}

/* 2.0 - CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

html, body, main, section, button {
  padding: 0;
}

img, picture, video, svg {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}