/*

  Author: Richard Pinegar | Rich Pin Software
  Date: January 2026
  Site Info: Digging for Shovels Official Website
  Content: Main CSS Stylesheet

  Table of Contents:
  * 1. Root Variables
  * 2. Browser Reset
  * 3. Global Styles
  * 4. Header & Navigation Styles
  * 5. Main Styles
  * 6. Section Styles
  ** 6a. Home Page Styles
  ** 6b. Our Links Page Styles
  ** 6c. Meet the Band Page Styles
  ** 6d. Contact Us Page Styles
  * 7. Footer Styles

*/

/* 1. Root Variables  */

:root {
  --primary-color: rgba(158, 219, 255, 0.5);
  --on-hover-primary-color: rgba(158, 219, 255, 0.3);
  --secondary-color: rgb(255, 255, 255);
  --secondary-alt-color: rgb(0, 0, 0);
  --site-font: "Lato", sans-serif;
  --header-height: 6.0rem;
  --main-width: 60%;
  --section-width: 100%;
  --section-height: 100vh;
  --section-margin: 0 calc((100% - var(--main-width)) / 2);
  --section-padding: var(--header-height) 0;
  --content-border-radius: 10px;
  --content-margin: 3.0rem 0;
  --content-padding: 1.5rem;
  --flex-gap: 2.0rem;
  --p-font-size: 1.1rem;
}

/* 2. Browser Reset */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 3. Global Styles  */

body {
  font-family: var(--site-font);
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

/* 4. Header & Navigation Styles  */

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: var(--header-height);
  background-color: var(--secondary-alt-color);
}
.site-navbar {
  display: flex;
  align-items: center;
  width: var(--main-width);
  height: 100%;
  margin: var(--section-margin);
} 
.site-navbar a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0 2.0rem 0 0;
}
.site-navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

/* 5. Main Styles  */

main {
  margin: 0;
  padding: 0;
}

/* 6. Section Styles */

.site-section {
  scroll-margin-top: var(--header-height);
  width: var(--section-width);
  height: var(--section-height);
  margin: 0;
  padding: var(--section-padding);
}
.section-container {
  width: var(--main-width);
  height: auto;
  margin: var(--section-margin);
  padding: 0;
}
.site-section#links {
  background-color: var(--secondary-color);
}
.site-section#contact {
  background-color: var(--secondary-color);
}
.container {
  display: flex;
  gap: var(--flex-gap);
  width: 100%;
  height: auto;
  margin: var(--content-margin);
}

  /* 6a. Home Page Styles  */

  .home-header-img {
    display: block;
    width: 40rem;
    height: auto;
    margin: 3.0rem auto;
    padding: 0;
  }
  .card {
    width: 100%;
    height: auto;
    padding: var(--content-padding);
    border-radius: var(--content-border-radius);
    background-color: var(--secondary-color);
  }
  .card h3 {
    margin-bottom: 1.0rem;
    color: var(--secondary-alt-color);
  }
  .card p {
    color: var(--secondary-alt-color);
    line-height: 1.5;
    font-size: var(--p-font-size);
  }
  .video {
    position: relative;
    flex: 1;
    overflow: hidden;
    border-radius: var(--content-border-radius);
    height: 25.0rem;
    background-color: var(--secondary-alt-color);
  }
  .video-player {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  video { 
    width: 100%; 
    display: block; 
  }
  .mute-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  .video-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    color: white;
  }

  /* 6b. Our Links Page Styles  */

  .container-link {
    text-decoration: none;
    margin: 0;
  }
  .link-container {
    flex-direction: column;
    align-items: center;
    padding: var(--content-padding);
    border-radius: var(--content-border-radius);
    background-color: var(--primary-color);
  }
  .link-container:hover {
    background-color: var(--on-hover-primary-color);

    .link-icon, .link-text {
    transform: scale(1.1);
    }
  }
  .link-text p {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--secondary-alt-color);
  }
  #instagram {
    color: rgb(208, 55, 208);
  }
  #youtube {
    color: rgb(255, 0, 0);
  }
  #bandcamp {
    color: rgb(18, 152, 241);
  }
  #soundcloud {
    color: rgb(255, 140, 0);
  }
  #venmo {
    color: rgb(14, 167, 73);
  }

  /* 6c. Meet the Band Page Styles  */

  .band-member {
    position: relative;
    flex: 1;
    overflow: hidden;
    border-radius: var(--content-border-radius);
    height: 25.0rem;
    background-color: var(--secondary-alt-color);
  }
  .band-member img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .band-member-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    color: white;
  }

  /* 6d. Contact Us Page Styles  */

  .card#contact-info, .card#contact-map{
    width: 100%;
    height: 25rem;
    background-color: var(--primary-color);
  }
  .card#contact-info {
    line-height: 1.8rem;
    font-size: var(--p-font-size);
  }
  .card#contact-info i {
    width: 1.5rem;
    height: auto;
    margin: 0 1.5rem 0 0;
  }
  .card#contact-map iframe {
    width: 100%;
    height: 22rem;
    border: 0;
    border-radius: var(--content-border-radius);
  }

/* 7. Footer Styles  */

footer {
  width: 100vw;
  height: 30rem;
  margin: 0;
  padding: 2.5rem 0;
  color: var(--secondary-color);
  background-color: var(--secondary-alt-color);
}
.section-container#footer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  align-items: last baseline;
}
.footer-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  row-gap: 1.0rem;
  margin-bottom: 2.0rem;
}
.footer-links a {
  color: var(--secondary-color);
  font-size: var(--p-font-size);
  font-weight: bold;
  text-decoration: none;
  width: fit-content;
}
.footer-links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.footer-icons {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.0rem;
}
.footer-icons a {
  color: var(--secondary-color);
}
.footer-image {
  justify-self: end;
  align-self: end;
  margin: 0;
  padding: 0;
}
.footer-image img {
  display: flex;
  justify-content: right;
  width: 20rem;
  height: auto;
}
