/*
  Author: Richard Pinegar | Rich Pin Software
  Date: January 2026
  Site Info: Digging for Shovels Official Website
  Content: Main CSS Stylesheet

  Table of Contents:
  1. Root Variables
  2. Browser Reset
  3. Global Styles
  4. Header & Navigation Styles
  5. Main Styles
  6. Section Styles
  - 6a. Home Page Styles
  - 6b. Our Links Page Styles
  - 6c. Meet the Band Page Styles
  - 6d. Contact Us Page Styles
*/

/* 1. Root Variables  */
:root {
  --primary-color: rgba(158, 219, 255, 0.5);
  --on-hover-primary-color: rgba(158, 219, 255, 0.3);
  --secondary-color: rgb(255, 255, 255);
  --secondary-alt-color: rgb(0, 0, 0);
  --site-font: "Lato", sans-serif;
  --header-height: 6.0rem;
  --main-width: 60%;
  --section-width: 100%;
  --section-height: 100vh;
  --section-margin: 0 calc((100% - var(--main-width)) / 2);
  /*--section-padding: calc(var(--header-height) + 3.0rem) 0;*/
  --section-padding: var(--header-height) 0;
  --content-border-radius: 10px;
  --content-margin: 3.0rem 0;
  --content-padding: 1.5rem;
  --flex-gap: 2.0rem;
  --p-font-size: 1.1rem;
}

/* 2. Browser Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 3. Global Styles  */
body {
  font-family: var(--site-font);
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

/* 4. Header & Navigation Styles  */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: var(--header-height);
  background-color: var(--secondary-alt-color);
}
.site-navbar {
  display: flex;
  align-items: center;
  width: var(--main-width);
  height: 100%;
  margin: var(--section-margin);
} 
.site-navbar a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1.0rem;
}

/* 5. Main Styles  */
main {
  margin: 0;
  padding: 0;
}

/* 6. Section Styles */
.site-section {
  scroll-margin-top: var(--header-height);
  width: var(--section-width);
  height: var(--section-height);
  margin: 0;
  padding: var(--section-padding);
}
.section-container {
  width: var(--main-width);
  height: auto;
  margin: var(--section-margin);
  padding: 0;
}
.site-section#links {
  background-color: var(--secondary-color);
}
.container {
  display: flex;
  gap: var(--flex-gap);
  width: 100%;
  height: auto;
  margin: var(--content-margin);
}

  /* 6a. Home Page Styles  */
  .home-header-img {
    display: block;
    width: 40rem;
    height: auto;
    margin: 3.0rem auto;
    padding: 0;
  }
  .card {
    width: 100%;
    height: auto;
    padding: var(--content-padding);
    border-radius: var(--content-border-radius);
    background-color: var(--secondary-color);
  }
  .card h3 {
    margin-bottom: 1.0rem;
    color: var(--secondary-alt-color);
  }
  .card p {
    color: var(--secondary-alt-color);
    line-height: 1.5;
    font-size: var(--p-font-size);
  }
  .video {
    position: relative;
    flex: 1;
    overflow: hidden;
    border-radius: var(--content-border-radius);
    height: 25.0rem;
    background-color: var(--secondary-alt-color);
  }
  .video-player {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  video { 
    width: 100%; 
    display: block; 
  }
  .mute-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    background: rgba(0,0,0,0.6);
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  .video-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    color: white;
  }

  /* 6b. Our Links Page Styles  */
  .container-link {
    text-decoration: none;
    margin: 0;
  }
  .link-container {
    flex-direction: column;
    align-items: center;
    padding: var(--content-padding);
    border-radius: var(--content-border-radius);
    background-color: var(--primary-color);
  }
  .link-container:hover {
    background-color: var(--on-hover-primary-color);

    .link-icon, .link-text {
    transform: scale(1.1);
    }
  }
  .link-text p {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--secondary-alt-color);
  }
  #instagram {
    color: rgb(208, 55, 208);
  }
  #youtube {
    color: rgb(255, 0, 0);
  }
  #bandcamp {
    color: rgb(18, 152, 241);
  }
  #soundcloud {
    color: rgb(255, 140, 0);
  }
  #venmo {
    color: rgb(14, 167, 73);
  }
  






/*


h1 {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  font-size: 70px;
  color: rgb(250, 247, 247);
  text-shadow: 
    -2px -2px 0 #4dadae,  
     2px -2px 0 #4dadae,
    -2px 2px 0 #4dadae,
     2px 2px 0 #4dadae;
}
h2 {
  font-weight: bold;
  font-size: 45px;
  color: rgb(250, 247, 247);
  text-shadow: 
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}
.subtext {
  background-color: rgb(180, 241, 241);
  border-radius: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: black;
}
.text {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  color: rgb(125, 229, 235);
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  letter-spacing: 5px;
}
.link-container {
  border-radius: 0.5em;
  background-color: rgb(22, 158, 236, 0.5);
}
.link {
  opacity: 1;
}
.link-icon {
  display: inline-block;
  margin: 10px;
}
.link-icon img {
  width:70px;
  height:70px;
}
#info {
  font-size: 1.32em;
  color: black;
  background-color: white;
  height: 450px;
  padding: 10px;
}

.band-member img {
  width: 50rem;
}

#map iframe {
  width: 100%;
  height: 450px; 
  border: 0;
}

@media (max-width: 576px) {
  body::before {
    background-image: url("/images/diggingforshovels-logo-mobile.png");
  }
}*/