/*
    Author: Richard Pinegar | Rich Pin Software
    Date: January 2026
    Site Info: Digging for Shovels Official Website
    Content: CSS Links Page Styles
*/

@import url("/css/variables.css");

  .social-link {
    text-decoration: none;
    margin: 0;
  }
  .social-container {
    flex-direction: column;
    align-items: center;
    padding: var(--content-padding);
    border-radius: var(--border-radius);
    background-color: var(--bg-main);
  }
  .social-container:hover {
    background-color: var(--bg-low);

    .social-icon, .social-caption {
    transform: scale(1.1);
    }
  }
  .social-caption p {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--bg-dark);
  }
  #instagram {
    color: rgb(208, 55, 208);
  }
  #youtube {
    color: rgb(255, 0, 0);
  }
  #bandcamp {
    color: rgb(18, 152, 241);
  }
  #soundcloud {
    color: rgb(255, 140, 0);
  }
  #venmo {
    color: rgb(14, 167, 73);
  }