/*
    Author: Richard Pinegar | Rich Pin Software
    Date: February 2026
    Site Info: Digging for Shovels Official Website
    Content: CSS Band Page Styles - Mobile First
*/

  .band-member {
    position: relative;
    flex: 1;
    overflow: hidden;
    border-radius: var(--content-border-radius);
    height: auto;
    background-color: var(--bg-dark);
  }
  .band-member img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .band-member-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(transparent, rgba(0,0,0,0.95));
    color: white;
  }
  .band-member-caption h3 {
    color: rgb(158, 219, 255);
    text-shadow: 0 0 5px black;
    font-size: 1.5rem;
  }