/*
    Author: Richard Pinegar | Rich Pin Software
    Date: February 2026
    Site Info: Digging for Shovels Official Website
    Content: CSS Contact Page Styles - Mobile First
*/

  #contact-info, #contact-map {
    width: 100%;
    height: auto;
  }
  #contact-info {
    line-height: 1.8rem;
    letter-spacing: 0.075rem;
  }
  #contact-info img {
    width: 100%;
    margin: 0 0 var(--space-m) 0;
  }
  #contact-info i {
    color: var(--bg-main);
    padding: var(--space-l) 0;
  }
  .contact-info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contact-info-container div {
    font-size: var(--font-size-m);
    font-weight: 550;
  }
  .card#contact-info i {
    width: 1.5rem;
    height: auto;
    margin: 0 1.5rem 0 0;
  }
  .card#contact-map {
    margin: 0;
    padding: 0;
  }
  .card#contact-map iframe {
    width: 100%;
    height: 30.0rem;
    border: 0;
    border-radius: var(--border-radius);
  }