/*
    Author: Richard Pinegar | Rich Pin Software
    Date: January 2026
    Site Info: Digging for Shovels Official Website
    Content: CSS Responsive Styles
*/

@import url("/css/variables.css");
@import url("/css/style.css");
@import url("/css/layout.css");

/* Large Tablet Landscape | Laptop */
@media (max-width: 1368px) {
    :root {
    --section-container-width: 92.5%;
    --content-margin: 1.5rem 0;
    --flex-gap: 1.5rem;
    }
    .site-section {
        height: auto;
    }
    .site-navbar {
        overflow: visible;
        position: relative;
        display: flex;
        align-items: center;
        height: var(--header-height);
    }
    .site-navbar #myLinks {
        display: none;
        padding: 1.0rem;
        background-color: rgb(0, 0, 0, 0.9);
    }
    .site-navbar #myLinks a {
        padding: 1.0rem 1.0rem;
    }
    .site-navbar #myLinks.open {
        display: flex !important; 
        flex-direction: column;
        position: absolute;
        top: var(--header-height); 
        right: 0;
        width: fit-content;
        z-index: 9999;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    }
    .site-navbar a {
        display: block;
    }
    .site-navbar a.hamburger-nav-icon {
        display: block;
        padding: 1.4rem 0.5rem;
    }
    .site-navbar a:hover {
        text-decoration: none;
    }
    .site-navbar a.hamburger-nav-icon:hover {
        background-color: var(--bg-light);
        .hamburger-icon {
        color: var(--bg-dark);
        }
    }
    .hamburger-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .hamburger-icon {
        display: block;
        color: var(--bg-light);
    }
    .video-player {
        height: 25.0rem;
        object-fit: contain;
    }
}

/* Large Tablet Portrait | Small Tablet Landscape */
@media (max-width: 1024px) {
    .video-player {
        object-fit: cover;
    }
}

/* Small Tablet  Portrait */
@media (max-width: 912px) {
  .site-section {
    height: auto;
  }
  .section-container h2 {
    text-align: center;
    font-size: 2.0rem;
  }
  .container {
    flex-direction: column;
  }
  .home-header-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 2.5rem auto;
    padding: 0;
  }
  .video-player {
    height: 40.0rem;
    object-fit: contain;
  }
  .band-member {
    width: 100%;
  }
}

/* Large Mobile */
@media (max-width: 640px) {
  footer {
    height: auto;
  }
  .section-container#footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    row-gap: 2.0rem;
  }
  .contact-info-container h3 {
    align-items: center;
    text-align: center;
  }
  .contact-info-container div {
    align-items: center;
    font-size: 1.0rem;
  }
  .contact-info-container span {
    display: none;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    gap: var(--flex-gap);
  }
  .footer-icons {
    display: flex;
    justify-content: center;
    order: 3;
  }
  .footer-icons a {
    margin: 0 1.2rem;
  }
  .footer-image {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    order: 2;
  }
  .placeholder-container {
    display: none;
  }
  .footer-image {
    justify-self: center;
    align-self: center;
  }
}

/* Mobile */
@media (max-width: 515px) {
  .card {
    margin-bottom: 0.5rem;
  }
  .video {
    margin-bottom: 0.5rem;
  }
  .video-player {
    object-fit: cover;
    object-position: center
  }
  .band-member {
    margin-bottom: 0.5rem;
  }
  .band-member img {
    height: 25rem;
    object-fit: cover;
  }
}

@media (max-width: 445px) {
  :root {
    --header-height: 4.5rem;
    --content-margin: 1.0rem 0;
    --content-padding: 0.5rem;
    --flex-gap: 0.5rem;
  }
  .section-container h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .section-container#home-container p {
    font-size: 0.85rem;
  }
  .card h3 {
    font-size: 1.0rem;
  }
  .card p {
    font-size: 1.0rem;
  }
  .card#contact-info i {
    margin:0;
    padding:0;
  }
  .contact-info-container div {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .contact-info-container h3 {
    display: none;
  }
  .section-container#footer {
    padding-top: 3.0rem;
  }
  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .footer-icons {
    gap: 0;
    margin: 0;
  }
  .footer-image {
    display: none;
  }
}