/*

  Author: Richard Pinegar | Rich Pin Software
  Date: February 2026
  Site Info: Digging for Shovels Official Website
  Content: Global CSS Stylesheet - Mobile First

  Table of Contents:
  * 1. Global Variables
  ** 1a. Colors
  ** 1b. Fonts
  ** 1c. Components
  * 2. Global Styles

*/

/* 
  1. Global Variables 
*/

:root {
  /* 
    1a. Colors 
  */
  --primary-rgb: 158, 219, 255;
  --primary-color: rgb(var(--primary-rgb));
  --bg-main: rgba(var(--primary-rgb), 0.5);
  --bg-low: rgba(var(--primary-rgb), 0.3);
  --bg-light: rgb(255, 255, 255);
  --bg-dark: rgb(0, 0, 0);
  /* 
    1b. Fonts 
  */
  --site-font: "Lato", sans-serif;
  --p-font-size: 1.1rem;
  /* 
    1c. Components 
  */
  --header-height: 6.0rem;
  --header-padding-vertical: 0.8rem;
  --header-padding-horizontal: 1.0rem;
  --header-padding: var(--header-padding-vertical) var(--header-padding-horizontal);
  --section-width: 100%;
  --section-height: 100vh;
  --section-padding: 0.8rem 1.0rem;
  --parent-container-width: 100%;
  --parent-container-height: auto;
  --child-container-height: auto;
  --content-border-radius: 10px;
  --content-margin: 3.0rem 0;
  --flex-gap: 0.5rem;
}

/* 2. Global Styles */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--site-font);
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: var(--bg-main);
}
main {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}