/*
* Copyright: (c)2026 Digging for Shovels
*
* Author: Richard Pinegar | Rich Pin Software
* Date: March 2026
* Site Info: Digging for Shovels Official Band Website
* Content: Fonts and Font Styles for Digging for Shovels
* Version: 3.0
*/

/************************************

      Font Definitions & Styles

*************************************/

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lato-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/lato-v25-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html { 
  font-size: 16px;
}

body { 
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-style: normal;
}

h1 { 
  font-size: clamp(var(--font-size-l), 1vw + 1.0rem, var(--font-size-xl)); 
}

h3 { 
  font-size: clamp(var(--font-size-s), 1vw + 1.0rem, var(--font-size-l));
  font-weight: var(--font-regular);
}

button, span, p, a { 
  font-size: clamp(var(--font-size-s), 1vw + 0.25rem, var(--font-size-m)); 
}

.nav-links {
  font-weight: var(--font-bold);
}