/*
* Copyright: (c)2026 Digging for Shovels
*
* Author: Richard Pinegar | Rich Pin Software
* Date: March 2026
* Site Info: Digging for Shovels Official Band Website
* Content: Layout Styles for Digging for Shovels
* Version: 3.0
*/

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

.wrapper {
  max-width: 1400px;
  padding: 0 1.0rem;
  width: 100%;
}

header {
  display: grid;
  justify-items: center;
  background-color: var(--color-dark);
  width: 100%;
  height: var(--header-height);

  .wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 3.0rem;
  }

  .site-logo {
    width: fit-content;
  }

  .site-logo__item, .nav-button__item {
    height: calc(var(--header-height) / 2);
  }

  .nav-button__item path {
    fill: var(--color-light);
  }

  .nav-links {
    display: none;
  }
}

main {
  display: grid;
  justify-items: center;
  width: 100%;

  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(1fr, auto));
    gap: 1.0rem;
  }

  .page-link__item {
    display: inline;
    vertical-align: middle;
    margin-right: 2.0rem;
    height: clamp(3.0rem, 1vw + 3.0rem, 5.0rem);
  }

  .page-link__item.instagram {
    fill: rgb(208, 55, 208);
  }

  .page-link__item.youtube {
    fill: rgb(255, 0, 0);
  }

  .page-link__item.venmo {
    fill: rgb(18, 152, 241);
  }

  .page-link__item.bandcamp {
    fill:rgb(151, 199, 232);
  }

  .page-link__item.soundcloud {
    fill: rgb(255, 140, 0);
  }
}