/*
* Copyright: (c)2026 Digging for Shovels
*
* Author: Richard Pinegar | Rich Pin Software
* Date: March 2026
* Site Info: Digging for Shovels Official Band Website
* Content: Layout Styles for Digging for Shovels
* Version: 3.0
*/

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
}

.wrapper {
  display: grid;
  width: var(--full-width);
}

header .wrapper,
footer .wrapper,
section.wrapper {
  max-width: var(--site-max-width);
}

header .wrapper,
section.wrapper {
  padding: 0 var(--space-s);
}

section.wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--space-s);
  padding: var(--space-l) var(--space-s);
}

header {
  position: sticky;
  top: 0;
  display: grid;
  justify-items: center;
  width: var(--full-width);
  height: var(--header-height);

  .wrapper {
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: var(--space-l);
  }

  .site-logo {
    width: fit-content;
  }

  .site-logo__item, .nav-button__item {
    height: calc(var(--header-height) / 2);
  }

  .nav-links {
    display: none;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-items: center;
  width: var(--full-width);
}

section {
  scroll-margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));

  h1 {
    align-self: center;
  }
}

.page-content.our-links.wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: var(--space-s);

  .page-link {
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--space-m);
    padding: 0 var(--space-m);
  }

  .page-link__item {
    height: clamp(3.0rem, 1vw + 3.0rem, 5.0rem);
  }
}

.page-content.music.wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-s);

  .page-video.wrapper {
    align-items: center;
    justify-items: center;
    padding: var(--space-xs);
  }

  .page-video__item.player {
    grid-area: 1 / 1;
  }

  .page-video__item.mute-toggle {
    grid-area: 1 / 1;
    place-self: start end;
    padding: var(--space-xs);
  }

  .page-video__item.caption {
    grid-area: 1 / 1;
    place-self: end center;
    width: var(--full-width);
  }
}

.page-content.the-band.wrapper {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: var(--space-s);

  .band-member {
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: var(--space-l);
    padding: var(--space-s);
  }

  .band-member__item.image {
    width: clamp(6.25rem, 4vw + 6.25rem, 15.0rem);
  }
}

.wrapper.contact-us {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

footer {
  display: grid;
  justify-items: center;
  padding: var(--space-l) var(--space-s);
  width: var(--full-width);

  .wrapper {
    gap: var(--space-l);
  }

  .nav-links.wrapper {
    gap: var(--space-s);
  }

  .social-links.wrapper {
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
  }

  .social-link__item {
    height: clamp(2.0rem, 3vw + 1.0rem, 3.5rem);
    vertical-align: middle;
  }
}