/*
* Copyright: (c)2026 Digging for Shovels
*
* Author: Richard Pinegar | Rich Pin Software
* Date: March 2026
* Site Info: Digging for Shovels Official Band Website
* Content: Element States & Styles for Digging for Shovels
* Version: 3.0
*/

header {
  & .nav-links.active {
    display: flex;
    flex-direction: column;
    color: var(--color-font-light);
    background-color: var(--color-dark);
  }
  & .nav-links li:hover,
  & .nav-links li:focus {
    color: var(--color-font-secondary);
    background-color: rgb(15, 15, 15);
  }
}

footer {
  & .nav-links li:hover,
  & .nav-links li:focus { color: var(--color-font-primary); }
  & .icon.instagram:hover,
  & .icon.instagram:focus { fill: rgb(208, 55, 208); }
  & .icon.youtube:hover,
  & .icon.youtube:focus { fill: rgb(255, 0, 0); }
  & .icon.venmo:hover,
  & .icon.venmo:focus { fill: rgb(18, 152, 241); }
  & .icon.bandcamp:hover,
  & .icon.bandcamp:focus { fill:rgb(151, 199, 232); }
  & .icon.soundcloud:hover,
  & .icon.soundcloud:focus { fill: rgb(255, 140, 0); }
}

.links {
  & .card:hover,
  & .card:focus {
    color: var(--color-font-light);
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid var(--color-light);
    outline-color: var(--color-light);
  }
}