/*
* Copyright: (c)2026 Digging for Shovels
*
* Author: Richard Pinegar | Rich Pin Software
* Date: March 2026
* Site Info: Digging for Shovels Official Band Website
* Content: Element States & Styles for Digging for Shovels
* Version: 3.0
*/

header {
  & .nav-links.active {
    display: flex;
    flex-direction: column;
    color: var(--color-font-light);
    background-color: var(--color-dark);
  }
  & .nav-links li {
    padding: var(--space-s);
    border-bottom: 1px solid var(--color-shade);
  }
  & .nav-links a {
    display: flex;
    justify-content: center;
  }
  & .nav-links li:hover,
  & .nav-links li:focus {
    color: var(--color-font-secondary);
    background-color: var(--color-shade);
  }
}