/*

    Author: Richard Pinegar | Rich Pin Software
    Date: February 2026
    Site Info: Digging for Shovels Official Website
    Content: CSS Footer Styles - Mobile First

*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: auto;
  margin: 0;
  padding: 2.5rem 0;
  color: var(--secondary-color);
  background-color: var(--secondary-alt-color);
}
footer div.section-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  align-items: last baseline;
} 

/* .footer-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  row-gap: 1.0rem;
  margin-bottom: 2.0rem;
} */
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--flex-gap);
  margin-bottom: 2.0rem;
}
.footer-links a {
  color: var(--secondary-color);
  font-size: var(--p-font-size);
  font-weight: bold;
  text-decoration: none;
  width: fit-content;
}
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  /* margin-bottom: 0 1.2rem; */
}
.footer-icons a {
  color: var(--secondary-color);
}
.footer-image {
  justify-self: end;
  align-self: end;
  margin: 0;
  padding: 0;
}
.footer-image img {
  display: flex;
  justify-content: right;
  width: 20rem;
  height: auto;
}


/* .footer-links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
} */