/*

    Author: Richard Pinegar | Rich Pin Software
    Date: February 2026
    Site Info: Digging for Shovels Official Website
    Content: CSS Footer Styles - Mobile First

*/

footer {
  margin: 0;
  padding: var(--space-l) 0;
  color: var(--bg-light);
  background-color: var(--bg-dark);
}
footer div.section-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  align-items: last baseline;
  width: 100%;
  max-width: var(--max-width-section);
} 
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--flex-gap);
    margin-bottom: var(--space-l);
  }
  .footer-links a {
    color: var(--bg-light);
    font-size: var(--font-size-m);
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
  }
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  .footer-icons a {
    color: var(--bg-light);
  }
  /* .footer-image {
    justify-self: end;
    align-self: end;
    margin: 0;
    padding: 0;
  } */
  /* .footer-image img {
    display: flex;
    justify-content: right;
    width: 20rem;
    height: auto;
  } */



/* .footer-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
  row-gap: 1.0rem;
  margin-bottom: 2.0rem;
} */
/* .footer-links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
} */