/*

    Author: Richard Pinegar | Rich Pin Software
    Date: February 2026
    Site Info: Digging for Shovels Official Website
    Content: CSS Header Styles - Mobile First

*/

header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: var(--header-height);
  margin: 0;
  padding: 0;
  background-color: var(--secondary-alt-color);
}
nav {
  /* overflow: visible; */
  position: relative;
  display: flex;
  align-items: center;
  width: var(--section-container-width);
  height: 100%;
  margin: 0;
  padding: 0;
}
nav div a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
}
  .hamburger-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
  .hamburger-nav-icon {
    display: flex;
    width: fit-content;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  #myLinks {
    display: none;
    padding: 1.0rem;
    background-color: rgb(0, 0, 0, 0.9);
  }
  #myLinks a {
    padding: 1.0rem 0.5rem;
  }
  #myLinks.open {
    display: flex !important; 
    flex-direction: column;
    position: absolute;
    top: var(--header-height); 
    right: 0;
    width: fit-content;
    z-index: 9999;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  }

  
/* nav div a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
} */
/* .hamburger-nav-icon {
  display: block;
  padding: 1.4rem 0.5rem;
} */
/* .hamburger-icon {
  color: var(--secondary-color);
} */
