/*

    Author: Richard Pinegar | Rich Pin Software
    Date: February 2026
    Site Info: Digging for Shovels Official Website
    Content: CSS Layout Styles - Mobile First

*/

section {
  scroll-margin-top: var(--header-height);
  /* width: 100%; */
  max-width: var(--max-width-section);
  min-height: 100vh;
  margin: 0;
  padding: var(--space-s) var(--space-m);
}
  #links {
    background-color: var(--bg-light);
  }
  #contact {
    background-color: var(--bg-light);
  }

.section-container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.section-container h2 {
  font-size: 1.5rem;
  text-align: center;
}

/* .content-container {
  display: flex;
  gap: var(--flex-gap);
  width: 100%;
  height: auto;
  margin: var(--space-l) 0;
} */